<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>
    <%- include('common/links') %>
</head>
<body>
    <%- include('common/nav', { activePage: 'home' }) %>



    <%- include('common/scripts') %>
</body>
</html>